@model IEnumerable<EntidadesCompartidasCore.Reparacion>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="~/css/inicio.css" />
@{
    ViewData["Title"] = "Index";
}

<h2 class="container">Lista de Reparaciones para el vehiculo seleccionado</h2>
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}
@{
    Vehiculo vehiculoSeleccionado = ViewBag.Vehiculo;
}
<p class="container">
    @Html.ActionLink("Registrar nueva Reparación para este vehiculo", "AltaReparacion", new { matricula = vehiculoSeleccionado.Matricula })
</p>
<div class="container">
    

    <p>
        <input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Busqueda multi-columna...">
    </p>
    <div class="table-responsive">
        <table class="table-responsive table table-striped table-bordered table-sm" id="id01">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Taller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Monto)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
        {
            <tr class="item">
                <td>
                    @Html.DisplayFor(modelItem => item.Vehiculo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td></td>
            </tr>
}
            </tbody>
        </table>
    </div>
    <a asp-action="Index" asp-controller="Vehiculos">Volver</a>
</div>

@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;

</script>
