@model IEnumerable<EntidadesCompartidasCore.Reparacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@{ 
    Vehiculo vehiculoSeleccionado = ViewBag.Vehiculo;
}

<p>
    @Html.ActionLink("Registrar nueva Reparación para este vehiculo", "AltaReparacion", new { matricula = vehiculoSeleccionado.Matricula})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
