@model IEnumerable<EntidadesCompartidasCore.Paquete>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Filtrar", "Paquetes"))
{
<div class="form-group">

    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Filtro por Estado</label>
                </th>
                <th>
                    <label>Filtro por Fecha</label>
                </th>
                <th>
                    <label>Filtro por Local</label>
                </th>
                <th>
                    <label>Todos los criterios</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @{ var listItemsEstados = ViewBag.Estados;

                        @Html.DropDownList("estado", new SelectList(listItemsEstados, "Value", "Text"))

                    }
                </th>
                <th>
                    <input type="datetime-local" name="fechaSalida" class="form-control" />
                </th>
                <th>
                    @{ var listItemsLocales = ViewBag.Locales;

                        @Html.DropDownList("local", new SelectList(listItemsLocales, "Id", "Nombre"))

                    }
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn btn-default" name="criterio" value="Estado">Filtrar por Estado</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-default" name="criterio" value="Fecha">Filtrar por Fecha</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-default" name="criterio" value="Local">Filtrar por Local</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-default" name="criterio" value="Todos">Todos los Criterios</button>
                </th>
            </tr>
        </tbody>
    </table>

</div>
}

    

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumReferencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumReferencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalles", new { numReferencia=item.NumReferencia }) 
                </td>
            </tr>
        }
    </tbody>
</table>
