@model IEnumerable<EntidadesCompartidasCore.Paquete>
<script src="https://www.w3schools.com/lib/w3.js"></script>
@{
    ViewData["Title"] = "ListarRecibidos";
}

@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}

@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<h2 class="container">Lista de Paquetes Recibidos</h2>

@using (Html.BeginForm("FiltrarRecibidos", "Paquetes"))
{
    @*<div class="form-group">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label>Filtro por Estado</label>
                        </th>
                        <th>
                            <label>Filtro por Fecha</label>
                        </th>
                        <th>
                            <label>Filtro por Local</label>
                        </th>
                        <th>
                            <label>Todos los criterios</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @{ var listItemsEstados = ViewBag.Estados;

                                @Html.DropDownList("estado", new SelectList(listItemsEstados, "Value", "Text"))

                            }
                        </th>
                        <th>
                            <input type="datetime-local" name="fechaSalida" class="form-control" />
                        </th>
                        <th>
                            @{ var listItemsLocales = ViewBag.Locales;

                                @Html.DropDownList("local", new SelectList(listItemsLocales, "Id", "Nombre"))

                            }
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" class="btn btn-default" name="criterio" value="Estado">Filtrar por Estado</button>
                        </th>
                        <th>
                            <button type="submit" class="btn btn-default" name="criterio" value="Fecha">Filtrar por Fecha</button>
                        </th>
                        <th>
                            <button type="submit" class="btn btn-default" name="criterio" value="Local">Filtrar por Local</button>
                        </th>
                        <th>
                            <button type="submit" class="btn btn-default" name="criterio" value="Todos">Todos los Criterios</button>
                        </th>
                    </tr>
                </tbody>
            </table>

        </div>*@
}

<div class="container">
    <p>
        <input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Busqueda multi-columna...">
    </p>
    <div class="table-responsive">
        <table class="table-hover" id="id01">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumReferencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ubicacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Entrega)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="item">
                        <td>
                            @Html.DisplayFor(modelItem => item.NumReferencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ubicacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entrega)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { numReferencia = item.NumReferencia, accion = "Enviados" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn-group-xs">Volver</a>
    </div>

</div>


<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;

</script>