@model EntidadesCompartidasCore.Registro
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
@{
    ViewData["Title"] = "ConsultarRegistro";
}
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}
<h2 class="container">Registro Generado para la fecha indicada</h2>

@{
    List<Ingreso> ingresos = Model.Ingresos;
    List<Gasto> gastos = Model.Gastos;
    List<Impuesto> impuestos = Model.Impuestos;
    List<SelectListItem> itemsIngresos = ViewBag.Ingresos;
    List<SelectListItem> itemsGastos = ViewBag.Gastos;
    List<SelectListItem> itemsImpuestos = ViewBag.Impuestos;

    decimal totalIngresos = 0;
    decimal totalGastos = 0;


    foreach (Gasto g in gastos)
    {
        totalGastos += g.Suma;
    }

    foreach (Ingreso i in ingresos)
    {
        totalIngresos += i.Suma;
    }

    decimal totalGastos2 = totalGastos;
    

    }

<div class="container">
    <h4>Registro</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.UtilidadBruta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadBruta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadOperacional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadOperacional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadSinImpuestos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadSinImpuestos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadEjercicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadEjercicio)
        </dd>*@
    </dl>

    <canvas id="popChart" style="max-height:500px; max-width:500px"></canvas>

    <br />
    <br />

    <canvas id="popChart2" style="max-height:700px; max-width:700px"></canvas>
</div>

<div class="container">
    <label>Ingresos</label>
    <br />
    @Html.ListBox("Ingresos", itemsIngresos)
    <br />
    <br />
    <label>Egresos</label>
    <br />
    @Html.ListBox("Egresos", itemsGastos)
    <br /><br />
    <label>Impuestos</label>
    <br />
    @Html.ListBox("Impuestos", itemsImpuestos)

    
</div>

<div class="container">
    <a asp-action="Index">Volver</a>
</div>
@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;
  
    var popCanvas = $("#popChart");
    var popCanvas = document.getElementById("popChart");
    var popCanvas = document.getElementById("popChart").getContext("2d");

    
    var barChart = new Chart(popCanvas, {
        type: 'bar',
        data: {
            labels: ['Ingresos', 'Gastos'],
            datasets: [{
                label: 'Valores Registrados',
                data: [@totalIngresos , @totalGastos],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ]
                }]
        }
    });

    var popCanvas2 = $("#popChart2");
    var popCanvas2 = document.getElementById("popChart2");
    var popCanvas2 = document.getElementById("popChart2").getContext("2d");

    
    var barChart = new Chart(popCanvas2, {
        type: 'bar',
        data: {
            labels: ['Utilidad Bruta', 'Utilidad Operacional', 'Utilidad sin Impuestos', 'Utilidad del Ejercicio'],
            datasets: [{
                label: 'Utilidades',
                data: [@Model.UtilidadBruta , @Model.UtilidadOperacional , @Model.UtilidadSinImpuestos , @Model.UtilidadEjercicio],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)'
                ]
                }]
        }
    });

</script>
