@model IEnumerable<EntidadesCompartidasCore.Registro>

@{
    ViewData["Title"] = "ConsultarRegistros";
}

<h2>ConsultarRegistros</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilidadBruta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilidadOperacional)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilidadSinImpuestos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilidadEjercicio)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilidadBruta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilidadOperacional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilidadSinImpuestos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilidadEjercicio)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Detalles", new { mes = item.Fecha.Month, año = item.Fecha.Year}) |
            </td>
        </tr>
}
    </tbody>
</table>
