@model EntidadesCompartidasCore.Registro

@{
    ViewData["Title"] = "ConsultarRegistro";
}

<h2 class="container">Consultar Registro Contable</h2>

@{

    List<SelectListItem> itemsIngresos = ViewBag.Ingresos;
    List<SelectListItem> itemsGastos = ViewBag.Gastos;
    List<SelectListItem> itemsImpuestos = ViewBag.Impuestos;
}

<div class="container">
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadBruta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadBruta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadOperacional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadOperacional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadSinImpuestos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadSinImpuestos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilidadEjercicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilidadEjercicio)
        </dd>
    </dl>
</div>

<div class="container">
    <label>Ingresos</label>
    <br />
    @Html.ListBox("Ingresos", itemsIngresos)
    <br />
    <br />
    <label>Egresos</label>
    <br />
    @Html.ListBox("Egresos", itemsGastos)
    <br /><br />
    <label>Impuestos</label>
    <br />
    @Html.ListBox("Impuestos", itemsImpuestos)
</div>

<div class="container">
    <a asp-action="Index">Volver</a>
</div>
