@model EntidadesCompartidasCore.Empleado

@{
    ViewData["Title"] = "EliminarEmpleado";
}
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}
<h2 class="container">Eliminar Empleado</h2>

<h3 class="container">Esta seguro de que desea eliminar este empleado?</h3>
<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ci)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ci)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.CodigoRecuperacionContraseña)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.CodigoRecuperacionContraseña)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.CodigoModificarEmail)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.CodigoModificarEmail)
        </dd>
    </dl>

    <form asp-action="EliminarEmpleado">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;

</script>
