@model SortedList<string, string>
<script src="https://www.w3schools.com/lib/w3.js"></script>

@{
    ViewData["Title"] = "Index";
}

@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}

@{
    List<Gasto> gastos = new List<Gasto>();
    List<Impuesto> impuestos = new List<Impuesto>();
    List<Ingreso> ingresos = new List<Ingreso>();

    if (Model.GetValueOrDefault("Gasto") != null)
    {
        List<Gasto> gs = JsonConvert.DeserializeObject<List<Gasto>>(Model.GetValueOrDefault("Gasto"));

        gastos = gs;
    }
    else if (Model.GetValueOrDefault("Ingreso") != null)
    {
        List<Ingreso> ins = JsonConvert.DeserializeObject<List<Ingreso>>(Model.GetValueOrDefault("Ingreso"));

        ingresos = ins;
    }
    else
    {
        List<Impuesto> ims = JsonConvert.DeserializeObject<List<Impuesto>>(Model.GetValueOrDefault("Impuesto"));

        impuestos = ims;
    }

}

<h2 class="container">Lista de Valores</h2>

<div class="container">


    <div class="table-responsive">
        <table class="table-hover" id="id01">
            <thead>
                <tr>
                    <th>
                        <p>Listados</p>
                    </th>
                    <th>
                        <p>Altas</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        @Html.ActionLink("Gastos", "ListarGastos", new { /* id=item.PrimaryKey */ }) 
                        @Html.ActionLink("Ingresos", "ListarIngresos", new { /* id=item.PrimaryKey */ }) 
                        @Html.ActionLink("Impuestos", "ListarImpuestos", new { /* id=item.PrimaryKey */ })
                    </td>
                    <td>
                        @Html.ActionLink("Gastos", "RegistrarGasto", new { /* id=item.PrimaryKey */ }) 
                        @Html.ActionLink("Ingresos", "RegistrarIngreso", new { /* id=item.PrimaryKey */ }) 
                        @Html.ActionLink("Impuestos", "RegistrarImpuesto", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <p>
        <input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Busqueda multi-columna...">
    </p>





    @{

        if (gastos.Any())
        {
            <div class="table-responsive">
                <table class="table-hover" id="id01">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Id");
                            </th>
                            <th>
                                @Html.DisplayName("Descripcion");
                            </th>
                            <th>
                                @Html.DisplayName("Suma");
                            </th>
                            <th>
                                @Html.DisplayName("Extra");
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Registrado");
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in gastos)
                        {
                        <tr class="item">
                            <td>
                                @Html.DisplayName(g.Id.ToString())
                            </td>
                            <td>
                                @Html.DisplayName(g.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => g.Suma)
                            </td>
                            <td>
                                @Html.DisplayName(g.Extra.ToString())
                            </td>
                            <td>
                                @Html.DisplayName(g.fechaRegistro.ToString())
                            </td>
                            <td></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (ingresos.Any())
        {
            <div class="table-responsive">
                <table class="table-hover" id="id01">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Id");
                            </th>
                            <th>
                                @Html.DisplayName("Descripcion");
                            </th>
                            <th>
                                @Html.DisplayName("Suma");
                            </th>
                            <th>
                                @Html.DisplayName("Extra");
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Registrado");
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in ingresos)
                        {
                        <tr class="item">
                            <td>
                                @Html.DisplayName(g.Id.ToString())
                            </td>
                            <td>
                                @Html.DisplayName(g.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => g.Suma)
                            </td>
                            <td>
                                @Html.DisplayName(g.Extra.ToString())
                            </td>
                            <td>
                                @Html.DisplayName(g.fechaRegistro.ToString())
                            </td>
                            <td></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table-hover" id="id01">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Id");
                            </th>
                            <th>
                                @Html.DisplayName("Nombre");
                            </th>
                            <th>
                                @Html.DisplayName("Descripcion");
                            </th>
                            <th>
                                @Html.DisplayName("Porcentaje");
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Registrado");
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in impuestos)
        {
                        <tr class="item">
                            <td>
                                @Html.DisplayName(i.Id.ToString())
                            </td>
                            <td>
                                @Html.DisplayName(i.Nombre)
                            </td>
                            <td>
                                @Html.DisplayName(i.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => i.Porcentaje)
                            </td>
                            <td>
                                @Html.DisplayName(i.fechaRegistro.ToString())
                            </td>
                            <td></td>
                        </tr>
}
                    </tbody>
                </table>
            </div>
        }

    }
    <a asp-action="Index" asp-controller="Home">Volver</a>
</div>

@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;
    

</script>
