@model EntidadesCompartidasCore.Turno

@{
    ViewData["Title"] = "Alta";
}

<h2 class="container">Registro de Turno</h2>
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}

@{
    var listItemDias = ViewBag.Dias;
}

<h4>Turno</h4>
<hr />
<div class="container">
    <div class="col-md-4">
        <form asp-action="Alta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" value="N/D" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Dia" class="control-label"></label>
                <input id="dia" asp-for="Dia" class="form-control"/>
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group" id="campoRut">
                <label>Seleccione el Dia</label>
                @Html.DropDownList("dia", new SelectList(listItemDias, "Value", "Text"), new { @id = "dias", @onchange = "set_dia()" })
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <label>Ingrese la hora de forma numerica (ej: 0230 = "02:30")</label>
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
    <a asp-action="Index">Volver</a>
</div>

@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }

    function set_dia() {
        var e = document.getElementById("dias");
        var strCliente = e.options[e.selectedIndex].value;
        var e = document.getElementById("dia");
        e.value = strCliente;
    }

    window.onload = launch_toast;

</script>
