@model EntidadesCompartidasCore.Turno

@{
    ViewData["Title"] = "Eliminar";
}

<h2 class="container">Eliminar Turno</h2>
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}
<h3 class="container">Esta seguro de que desea eliminar este turno?</h3>
<div class="container">
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @{
                if (Model.Hora.ToString().Length == 3)
                {
                    Html.Display("0" + Model.Hora.ToString()[0] + ":" + Model.Hora.ToString()[1] + Model.Hora.ToString()[2]);
                }
                else if (Model.Hora.ToString().Length == 2)
                {
                    Html.Display("00:" + Model.Hora.ToString()[0] + Model.Hora.ToString()[1]);
                }
                else if (Model.Hora.ToString().Length == 1)
                {
                    Html.Display("00:0" + Model.Hora.ToString()[0]);
                }
                else
                {
                    Html.Display(Model.Hora.ToString()[0] + Model.Hora.ToString()[1] + ":" + Model.Hora.ToString()[2] + Model.Hora.ToString()[3]);
                }
            }
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
    </dl>

    <form asp-action="Eliminar">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;

</script>
