@model EntidadesCompartidasCore.Vehiculo

@{
    ViewData["Title"] = "BajaVehiculo";
}

<h2 class="container">Eliminar Vehiculo</h2>

<h3 class="container">Esta seguro de que desea eliminar este vehiculo?</h3>
<div class="container">
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cadete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cadete)
        </dd>
    </dl>
    
    <form asp-action="BajaVehiculoPost">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
