@model DTVehiculo

@{
    ViewData["Title"] = "Modificar";
}
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}

@{
    var listItemCadetes = ViewBag.Cadetes;
}
<h2 class="container">Modificar Vehiculo</h2>

<div class="container">

    <h4>Vehiculo a modificar:</h4>
    <hr />
    @if (Model.Tipo.ToLower() == "moto")
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ModificarMoto">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Matricula" class="control-label"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Cadete" class="control-label"></label>
                        <input id="cadete" asp-for="Cadete" class="form-control" />
                        <span asp-validation-for="Cadete" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="campoRut">
                        <label>Seleccione el Cadete</label>
                        @Html.DropDownList("cadete", new SelectList(listItemCadetes, "Value", "Text"), new { @id = "cadetes", @onchange = "set_cadete()" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Cilindrada" class="control-label"></label>
                        <input asp-for="Cilindrada" class="form-control" />
                        <span asp-validation-for="Cilindrada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" value="moto" readonly />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modificar Moto" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }

    @if (Model.Tipo.ToLower() == "camioneta")
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ModificarCamioneta">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Matricula" class="control-label"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Cadete" class="control-label"></label>
                        <input id="cadete" asp-for="Cadete" class="form-control" />
                        <span asp-validation-for="Cadete" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="campoRut">
                        <label>Seleccione el Cadete</label>
                        @Html.DropDownList("cadete", new SelectList(listItemCadetes, "Value", "Text"), new { @id = "cadetes", @onchange = "set_cadete()" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Cabina" class="control-label"></label>
                        <input asp-for="Cabina" class="form-control" />
                        <span asp-validation-for="Cabina" class="text-danger"></span>
                    </div>
                    <div class="form-group" typeof="hidden">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" value="camioneta" readonly />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modificar Camioneta" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }

    @if (Model.Tipo.ToLower() == "camion")
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ModificarCamion">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Matricula" class="control-label"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Cadete" class="control-label"></label>
                        <input id="cadete" asp-for="Cadete" class="form-control" />
                        <span asp-validation-for="Cadete" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="campoRut">
                        <label>Seleccione el Cadete</label>
                        @Html.DropDownList("cadete", new SelectList(listItemCadetes, "Value", "Text"), new { @id = "cadetes", @onchange = "set_cadete()" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Altura" class="control-label"></label>
                        <input asp-for="Altura" class="form-control" />
                        <span asp-validation-for="Altura" class="text-danger"></span>
                    </div>
                    <div class="form-group" typeof="hidden">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" value="camion" readonly />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modificar Camion" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }

    @if (Model.Tipo.ToLower() == "automobil")
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ModificarAutomobil">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Matricula" class="control-label"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Cadete" class="control-label"></label>
                        <input id="cadete" asp-for="Cadete" class="form-control" />
                        <span asp-validation-for="Cadete" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="campoRut">
                        <label>Seleccione el Cadete</label>
                        @Html.DropDownList("cadete", new SelectList(listItemCadetes, "Value", "Text"), new { @id = "cadetes", @onchange = "set_cadete()" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Puertas" class="control-label"></label>
                        <input asp-for="Puertas" class="form-control" />
                        <span asp-validation-for="Puertas" class="text-danger"></span>
                    </div>
                    <div class="form-group" typeof="hidden">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" value="automobil" readonly />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modificar Automobil" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }

    function set_cadete() {
        var e = document.getElementById("cadetes");
        var strCliente = e.options[e.selectedIndex].value;
        var e = document.getElementById("cadete");
        e.value = strCliente;
    }

    document.getElementById("botonEnvio").onclick = function () {
        var e = document.getElementById("cadetes");
        var strCliente = e.options[e.selectedIndex].value;
        if (strCliente === "N") {
            alert('Debe seleccionar un Cadete')
            return false;
        }

    }

    window.onload = launch_toast;

</script>
